:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #ffffff;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
}

.content {
    height: 100vh;
}

.details {
    background-color: #2a2d39;
    padding: 15vh 5vh 10vh 5vh;
}

.form {
    background-color: #222531;
    padding: 15vh 8vh 10vh 25vh;
}

.form-control {
    background-color: #222531;
    border: 2px solid #3E4150;
    color: #3E4150;
}

.form-check-label {
    color: #3E4150;
}

.label {
    font-size: 1.5vh;
    font-weight: 500;
    color: #3E4150;
}

.register-button {
    font-size: 1.5vh;
    font-weight: 600;
}

.guests {
    font-size: 2vh;
    font-weight: 500;
    color: #3E4150;
}

.title {
    font-size: 2vh;
    font-weight: 600;
}

.guests-sub-layout {
    margin-left: 2vh;
}

.date {
    color: #bec1ca;
}

.icon {
    color: #3E4150;
    font-size: 3vh;
}

.sub-title {
    font-size: 1vh;
    font-weight: 300;
}

.text-area {
    height: 10vh
}